---
import Layout from "../layouts/Layout.astro";
const baseUrl = Astro.site;
---

<Layout>
  <h1 class="text-center">Explora nuestro Catalogo</h1>
  <div class="container">
    <div
      id="cards-catalogo"
      class="row row-cols-2 gap-3 justify-content-center justify-content-md-start"
    >
    </div>
  </div>
</Layout>

<script>


  interface json_item {
      id: string;
      casaComercial: string;
      Referencia: string;
      Codigo: string;
      Descripcion: string;
      notas: [string];
  }

  const resultados_search: json_item[] = JSON.parse(
    sessionStorage.getItem("nav_search") || "[]"
  );

  console.log(resultados_search)
  import create_card from "../components/cards.ts";
  import ScrollReveal from  "scrollreveal"

  const Reveal = ScrollReveal()
  const cards_catalogo: HTMLDivElement = document.getElementById(
    "cards-catalogo"
  ) as HTMLDivElement;

  if (resultados_search.length === 0) {
    alert(
      "Porfa ingresa un codigo, referencias o casa comercial valido para mostrat el producto"
    );
    const h3 = document.createElement("h3")
    h3.textContent="Oops no hay el perfume que buscas!!!, Selecciona Buscar para una busqueda Aleatoria :)"
    cards_catalogo.appendChild(h3)
  } else {
    resultados_search.map((perfume) => {
      const card = create_card(perfume);
      cards_catalogo.appendChild(card);
    });
  }

Reveal.reveal('.card', {
  origin: 'left',   // vienen desde abajo
  distance: '60px',   // qué tan lejos viajan
  duration: 1000,     // duración en ms
  easing: 'ease-in-out',
  interval: 100,      // retraso entre cada card
  reset: true        // no repetir la animación cada vez que aparece
});

</script>
