---
import { Navbar } from "astro-bootstrap";
import type { NavbarItemType } from "astro-bootstrap";
const items: NavbarItemType[] = [
  { text: "Inicio", href: "/Fragancia_Deluxe_Astro/" },
  { text: "Sobre Nosotros", href: "#About"},
  {text: 'Catalogo', href:"#Catalogo"}
];
const id = "navBar";
---

<Navbar class="navbar-expand-lg bg-darkblue">
  <div class="container-fluid border-bottom mx-5">
    <img src="icon.png" alt="Logo" width="120em" class="d-inline-block align-text-top mb-3">
    <Navbar.Toggler controls={id} />
    <Navbar.Collapse id={id}>
      <Navbar.Items {items} class="me-auto mb-2 mb-lg-0" />
    </Navbar.Collapse>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </div>
</Navbar>
