---
import { Navbar } from "astro-bootstrap";
import type { NavbarItemType } from "astro-bootstrap";
const items: NavbarItemType[] = [
  { text: "Inicio", href: "/Fragancia_Deluxe_Astro/" },
  { text: "Sobre Nosotros", href: "/Fragancia_Deluxe_Astro/#About"},
  {text: 'Catalogo', href:"/Fragancia_Deluxe_Astro/catalogo"}
];
const id = "navBar";
---

<Navbar class="navbar-expand-lg bg-darkblue">
  <div class="container-fluid border-bottom mx-5">
    <img src="/Fragancia_Deluxe_Astro/icon.png" alt="Logo" width="120em" class="d-inline-block align-text-top mb-3">
    <Navbar.Toggler controls={id} />
    <Navbar.Collapse id={id}>
      <Navbar.Items {items} class="me-auto mb-2 mb-lg-0" />
    </Navbar.Collapse>
      <form class="d-flex" role="search" id="nav-search">
        <input class="form-control me-2" type="search" placeholder="Ingrese un nombre" aria-label="Search" id="nav-search-input"/>
        <button class="btn btn-outline-success" type="submit" id="nav-search-button">Buscar</button>
      </form>
  </div>
</Navbar>
<script>
import Perfumes from "../data/perfumes.json"
import Fuse from "fuse.js"
import Chance from "chance"
const chance = new Chance()
const fuse = new Fuse(Perfumes,{
    keys:["casaComercial","Referencia","Codigo"],
    threshold:0.0
})
  const nav_search:HTMLFormElement = document.getElementById("nav-search") as HTMLFormElement;
  const nav_input_search:HTMLInputElement = document.getElementById("nav-search-input") as HTMLInputElement;
  nav_search.addEventListener("submit",(event)=>{
    event.preventDefault();
    const value_search = nav_input_search.value.trim();
    if(value_search){
      const resultados = fuse.search(value_search).map(r => r.item)
      sessionStorage.setItem("nav_search",JSON.stringify(resultados))
      window.location.href = "/Fragancia_Deluxe_Astro/catalogo"
    }else{
      const resultado_azar = chance.pickset(Perfumes,14)
      sessionStorage.setItem("nav_search",JSON.stringify(resultado_azar));
      window.location.href = "/Fragancia_Deluxe_Astro/catalogo"
    }

  })
</script>

